.H1
{
	font-family: open-sans-n8, sans-serif;
}

.H2,.Slider-Large-Text,.H3
{
	font-family: lusitana-n7, serif;
}

.H4,.H2-Heading,.Paragraph-Style-1
{
	font-family: lusitana-n4, serif;
}

#u1713-8,#u4984-4
{
	font-family: '__Raleway_5';
}

#u5000-4
{
	font-family: '__Raleway_5';
}

#u4971-4
{
	font-family: '__Raleway_5';
}

#u4993-4
{
	font-family: '__Raleway_5';
}

#u4978-4
{
	font-family: '__Raleway_5';
}

#u2213-2
{
	font-family: ubuntu-n7, sans-serif;
}

#u2237-12
{
	font-family: ubuntu-n4, sans-serif;
}

#u3726-8
{
	font-family: lusitana-n4, serif;
}

#u3727-4,#u3727-6,#u3727-7,#u3727-9,#u3727-11,#u3727-13,#u3727-15,#u3727-17
{
	font-family: ubuntu-n4, sans-serif;
}

