.H1
{
	font-family: open-sans-n8, sans-serif;
}

.H2,.Slider-Large-Text,.H3
{
	font-family: lusitana-n7, serif;
}

.H4,.H2-Heading,.Paragraph-Style-1
{
	font-family: lusitana-n4, serif;
}

#pu9284.PamphletThumbSelected #u9285-4 p,#pu13037.PamphletThumbSelected #u13038-4 p,#u9347-4
{
	font-family: '__Raleway_5';
}

#u9342-4
{
	font-family: '__Raleway_5';
}

#u9328-4
{
	font-family: '__Raleway_5';
}

#u9322-4
{
	font-family: '__Raleway_5';
}

#u9337-4
{
	font-family: '__Raleway_5';
}

#u9285-4
{
	font-family: '__Raleway_5';
}

#u9311-4,#u9304-4
{
	font-family: '__Raleway_5';
}

#u9300-4
{
	font-family: '__Raleway_5';
}

#u9307-4
{
	font-family: '__Raleway_5';
}

#u9294-4
{
	font-family: '__Raleway_5';
}

#u9368-4,#u9370-4,#u9367-6,#u9369-4,#u9372-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u9272-4,#u9279-6,#u9352-4,#u9437-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u10156-4,#u10157-4,#u10158-4,#u10159-4,#u10160-4,#u10161-4,#u10162-4,#u10163-4,#u10164-4,#u10165-4,#u10166-4,#u10167-4,#u10168-4,#u10169-4,#u10170-4,#u10171-4,#u10172-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u13038-4
{
	font-family: '__Raleway_5';
}

#u13033-4,#u13023-4
{
	font-family: '__Raleway_5';
}

#u13026-4
{
	font-family: '__Raleway_5';
}

#u13015-4
{
	font-family: '__Raleway_5';
}

#u13032-4
{
	font-family: '__Raleway_5';
}

