.H1
{
	font-family: open-sans-n8, sans-serif;
}

.H2,.Slider-Large-Text,.H3
{
	font-family: lusitana-n7, serif;
}

.H4,.H2-Heading,.Paragraph-Style-1
{
	font-family: lusitana-n4, serif;
}

#pu10295.PamphletThumbSelected #u10296-4 p,#pu12926.PamphletThumbSelected #u12927-4 p,#u10271-4
{
	font-family: '__Raleway_5';
}

#u10285-4
{
	font-family: '__Raleway_5';
}

#u10277-4
{
	font-family: '__Raleway_5';
}

#u10256-4
{
	font-family: '__Raleway_5';
}

#u10264-4
{
	font-family: '__Raleway_5';
}

#u10296-4
{
	font-family: '__Raleway_5';
}

#u10322-4,#u10315-4
{
	font-family: '__Raleway_5';
}

#u10303-4
{
	font-family: '__Raleway_5';
}

#u10308-4
{
	font-family: '__Raleway_5';
}

#u10319-4
{
	font-family: '__Raleway_5';
}

#u10452-4,#u10454-4,#u10451-6,#u10453-4,#u10455-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u10289-4,#u10290-6,#u10427-4,#u10466-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u10667-4,#u10668-4,#u10869-4,#u10729-4,#u10730-4,#u10731-4,#u10891-4,#u11569-4,#u11570-4,#u11595-4,#u11811-4,#u11812-4,#u11839-4,#u11971-4,#u12015-4,#u12125-4,#u12213-4,#u12389-4,#u12469-4,#u12470-4,#u12471-4,#u12517-4,#u12518-4,#u12804-4,#u12649-4,#u12650-4,#u12803-4,#u12847-4,#u12848-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u12927-4
{
	font-family: '__Raleway_5';
}

#u12922-4,#u12912-4
{
	font-family: '__Raleway_5';
}

#u12915-4
{
	font-family: '__Raleway_5';
}

#u12904-4
{
	font-family: '__Raleway_5';
}

#u12921-4
{
	font-family: '__Raleway_5';
}

