.H1
{
	font-family: open-sans-n8, sans-serif;
}

.H2,.Slider-Large-Text,.H3
{
	font-family: lusitana-n7, serif;
}

.H4,.H2-Heading,.Paragraph-Style-1
{
	font-family: lusitana-n4, serif;
}

#u1713-8,#u4984-4
{
	font-family: '__Raleway_5';
}

#u5000-4
{
	font-family: '__Raleway_5';
}

#u4971-4
{
	font-family: '__Raleway_5';
}

#u4993-4
{
	font-family: '__Raleway_5';
}

#u4978-4
{
	font-family: '__Raleway_5';
}

#u14232-8
{
	font-family: lusitana-n7, serif;
}

#u2783-8,#u2777-4,#u3324-4
{
	font-family: lusitana-n4, serif;
}

#pu14046.PamphletThumbSelected #u14047-4 p,#u14047-4
{
	font-family: '__Raleway_5';
}

#u14021-4,#u14038-4
{
	font-family: '__Raleway_5';
}

#u14028-4
{
	font-family: '__Raleway_5';
}

#u14040-4
{
	font-family: '__Raleway_5';
}

#u14034-4
{
	font-family: '__Raleway_5';
}

