.H1
{
	font-family: open-sans-n8, sans-serif;
}

.H2,.Slider-Large-Text,.H3
{
	font-family: lusitana-n7, serif;
}

.H4,.H2-Heading,.Paragraph-Style-1
{
	font-family: lusitana-n4, serif;
}

#pu10391.PamphletThumbSelected #u10392-4 p,#pu12865.PamphletThumbSelected #u12866-4 p,#u10364-4
{
	font-family: '__Raleway_5';
}

#u10368-4
{
	font-family: '__Raleway_5';
}

#u10383-4
{
	font-family: '__Raleway_5';
}

#u10355-4
{
	font-family: '__Raleway_5';
}

#u10377-4
{
	font-family: '__Raleway_5';
}

#u10392-4
{
	font-family: '__Raleway_5';
}

#u10401-4,#u10413-4
{
	font-family: '__Raleway_5';
}

#u10419-4
{
	font-family: '__Raleway_5';
}

#u10407-4
{
	font-family: '__Raleway_5';
}

#u10416-4
{
	font-family: '__Raleway_5';
}

#u10494-4,#u10496-4,#u10493-6,#u10495-4,#u10497-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u10387-4,#u10388-6,#u10434-4,#u10508-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u10597-4,#u10598-4,#u10599-4,#u10627-4,#u10843-4,#u10844-4,#u10795-4,#u10796-4,#u10797-4,#u10913-4,#u11529-4,#u11617-4,#u10971-4,#u10972-4,#u10973-4,#u11037-4,#u11038-4,#u11039-4,#u11103-4,#u11104-4,#u11105-4,#u11439-4,#u11440-4,#u11441-4,#u11442-4,#u11443-4,#u11444-4,#u11445-4,#u11446-4,#u11447-4,#u11448-4,#u11449-4,#u11450-4,#u11451-4,#u11452-4,#u11453-4,#u11454-4,#u11455-4,#u11456-4,#u11675-4,#u11676-4,#u11677-4,#u11741-4,#u11742-4,#u11743-4,#u11771-4,#u11879-4,#u11880-4,#u11941-4,#u11942-4,#u11943-4,#u11993-4,#u12103-4,#u12147-4,#u12073-4,#u12074-4,#u12075-4,#u12187-4,#u12188-4,#u12367-4,#u12271-4,#u12272-4,#u12273-4,#u12337-4,#u12338-4,#u12339-4,#u12411-4,#u12543-4,#u12675-4,#u12601-4,#u12602-4,#u12603-4,#u12742-4,#u12743-4,#u12744-4,#u12763-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u12866-4
{
	font-family: '__Raleway_5';
}

#u12892-4,#u12879-4
{
	font-family: '__Raleway_5';
}

#u12872-4
{
	font-family: '__Raleway_5';
}

#u12887-4
{
	font-family: '__Raleway_5';
}

#u12884-4
{
	font-family: '__Raleway_5';
}

