.H1
{
	font-family: open-sans-n8, sans-serif;
}

.H2,.Slider-Large-Text,.H3
{
	font-family: lusitana-n7, serif;
}

.H4,.H2-Heading,.Paragraph-Style-1
{
	font-family: lusitana-n4, serif;
}

#u1713-8,#u4984-4
{
	font-family: '__Raleway_5';
}

#u5000-4
{
	font-family: '__Raleway_5';
}

#u4971-4
{
	font-family: '__Raleway_5';
}

#u4993-4
{
	font-family: '__Raleway_5';
}

#u4978-4
{
	font-family: '__Raleway_5';
}

#u14232-8
{
	font-family: lusitana-n7, serif;
}

#u2908-4,#u2909-11
{
	font-family: lusitana-n4, serif;
}

#pu14053.PamphletThumbSelected #u14054-4 p,#u14054-4
{
	font-family: '__Raleway_5';
}

#u14063-4,#u14079-4
{
	font-family: '__Raleway_5';
}

#u14069-4
{
	font-family: '__Raleway_5';
}

#u14081-4
{
	font-family: '__Raleway_5';
}

#u14074-4
{
	font-family: '__Raleway_5';
}

