.H1
{
	font-family: open-sans-n8, sans-serif;
}

.H2,.Slider-Large-Text,.H3
{
	font-family: lusitana-n7, serif;
}

.H4,.H2-Heading,.Paragraph-Style-1
{
	font-family: lusitana-n4, serif;
}

#pu8372.PamphletThumbSelected #u8373-4 p,#pu13000.PamphletThumbSelected #u13001-4 p,#u8381-4
{
	font-family: '__Raleway_5';
}

#u8410-4
{
	font-family: '__Raleway_5';
}

#u8390-4
{
	font-family: '__Raleway_5';
}

#u8402-4
{
	font-family: '__Raleway_5';
}

#u8398-4
{
	font-family: '__Raleway_5';
}

#u8373-4
{
	font-family: '__Raleway_5';
}

#u8366-4,#u8355-4
{
	font-family: '__Raleway_5';
}

#u8365-4
{
	font-family: '__Raleway_5';
}

#u8361-4
{
	font-family: '__Raleway_5';
}

#u8348-4
{
	font-family: '__Raleway_5';
}

#u8430-4,#u8432-4,#u8429-6,#u8431-4,#u8434-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u8334-4,#u8341-6,#u8414-4,#u8528-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u10129-4,#u10130-4,#u10131-4,#u10132-4,#u10133-4,#u10134-4,#u10135-4,#u10136-4,#u10137-4,#u10138-4,#u10139-4,#u10140-4,#u10141-4,#u10142-4,#u10143-4,#u10144-4,#u10145-4,#u10146-4,#u10147-4,#u10148-4,#u10149-4,#u10150-4,#u10151-4,#u10152-4,#u10153-4,#u10154-4,#u10155-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u13001-4
{
	font-family: '__Raleway_5';
}

#u12996-4,#u12986-4
{
	font-family: '__Raleway_5';
}

#u12989-4
{
	font-family: '__Raleway_5';
}

#u12978-4
{
	font-family: '__Raleway_5';
}

#u12995-4
{
	font-family: '__Raleway_5';
}

