.H1
{
	font-family: open-sans-n8, sans-serif;
}

.H2,.Slider-Large-Text,.H3
{
	font-family: lusitana-n7, serif;
}

.H4,.H2-Heading,.Paragraph-Style-1
{
	font-family: lusitana-n4, serif;
}

#pu6429.PamphletThumbSelected #u6430-4 p,#pu12963.PamphletThumbSelected #u12964-4 p,#u6446-4
{
	font-family: '__Raleway_5';
}

#u6452-4
{
	font-family: '__Raleway_5';
}

#u6469-4
{
	font-family: '__Raleway_5';
}

#u6461-4
{
	font-family: '__Raleway_5';
}

#u6476-4
{
	font-family: '__Raleway_5';
}

#u6430-4
{
	font-family: '__Raleway_5';
}

#u6404-4,#u6419-4
{
	font-family: '__Raleway_5';
}

#u6427-4
{
	font-family: '__Raleway_5';
}

#u6416-4
{
	font-family: '__Raleway_5';
}

#u6409-4
{
	font-family: '__Raleway_5';
}

#u6549-4,#u6551-4,#u6547-6,#u6550-4,#u6555-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u5960-4,#u5962-6,#u6503-4,#u6586-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u10064-4,#u10066-4,#u10067-4,#u10068-4,#u10069-4,#u10070-4,#u10071-4,#u10072-4,#u10073-4,#u10074-4,#u10075-4,#u10076-4,#u10077-4,#u10078-4,#u10079-4,#u10080-4,#u10081-4,#u10082-4,#u10083-4,#u10084-4,#u10085-4,#u10086-4,#u10087-4,#u10088-4,#u10089-4,#u10090-4,#u10091-4,#u10092-4,#u10093-4,#u10094-4,#u10095-4,#u10096-4,#u10097-4,#u10098-4,#u10099-4,#u10100-4,#u10101-4,#u10102-4,#u10103-4,#u10104-4,#u10105-4,#u10106-4,#u10107-4,#u10108-4,#u10109-4,#u10110-4,#u10111-4,#u10112-4,#u10113-4,#u10114-4,#u10115-4,#u10116-4,#u10117-4,#u10118-4,#u10119-4,#u10120-4,#u10121-4,#u10122-4,#u10123-4,#u10124-4,#u10125-4,#u10126-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u12964-4
{
	font-family: '__Raleway_5';
}

#u12959-4,#u12949-4
{
	font-family: '__Raleway_5';
}

#u12952-4
{
	font-family: '__Raleway_5';
}

#u12941-4
{
	font-family: '__Raleway_5';
}

#u12958-4
{
	font-family: '__Raleway_5';
}

