.H1
{
	font-family: open-sans-n8, sans-serif;
}

.H2,.Slider-Large-Text,.H3
{
	font-family: lusitana-n7, serif;
}

.H4,.H2-Heading,.Paragraph-Style-1
{
	font-family: lusitana-n4, serif;
}

#u1713-8,#u4984-4
{
	font-family: '__Raleway_5';
}

#u5000-4
{
	font-family: '__Raleway_5';
}

#u4971-4
{
	font-family: '__Raleway_5';
}

#u4993-4
{
	font-family: '__Raleway_5';
}

#u4978-4
{
	font-family: '__Raleway_5';
}

#u14232-8
{
	font-family: lusitana-n7, serif;
}

#u9920-8,#u9919-4,#u9974-4
{
	font-family: lusitana-n4, serif;
}

#u9972-2,#u9972-9
{
	font-family: lusitana-n7, serif;
}

#pu9985.PamphletThumbSelected #u9986-4 p,#u9986-4
{
	font-family: '__Raleway_5';
}

#u9991-4,#u10000-4
{
	font-family: '__Raleway_5';
}

#u10007-4
{
	font-family: '__Raleway_5';
}

#u10011-4
{
	font-family: '__Raleway_5';
}

#u9997-4
{
	font-family: '__Raleway_5';
}

