#u2213-4
{
	background-color: transparent;
	position: relative;
}

#u2213-2
{
	font-family: ubuntu, sans-serif;
	font-weight: 700;
}

#u2237-12
{
	background-color: transparent;
	font-family: ubuntu, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2237-4,#u2237-7,#u2237-8
{
	font-weight: 700;
}

#u14632
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

