.H1
{
	font-family: open-sans-n8, sans-serif;
}

.H2,.Slider-Large-Text,.H3
{
	font-family: lusitana-n7, serif;
}

.H4,.H2-Heading,.Paragraph-Style-1
{
	font-family: lusitana-n4, serif;
}

#u3938-3
{
	font-family: open-sans-n8, sans-serif;
}

#u3914-7
{
	font-family: lusitana-n7, serif;
}

#u4245-7,#u4252-7,#u4254-7,#u4248-7
{
	font-family: lusitana-n7, serif;
}

