#u3863
{
	border-color: #000000;
	background-color: #F3F3F2;
	border-radius: 5px 5px 0px 0px ;
	position: relative;
}

#accordionu3923wrapper
{
	position: relative;
}

#accordionu3923
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 0px 0px 10px 10px ;
	position: relative;
}

#u3938-3
{
	border-color: #FFFFFF;
	color: #000000;
	font-size: 36px;
	line-height: 1;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	background: transparent url("../../images/menu-button.png") no-repeat right center;
}

#u3938-3.AccordionPanelTabOpen
{
	background-repeat: no-repeat;
	background-position: right center;
}

#u3939
{
	border-style: none;
	border-color: transparent;
	background-color: #012A3C;
	border-radius: 0px 5px 5px 5px ;
	position: relative;
}

#u3975
{
	border-style: solid;
	border-color: #2584E2;
	background-color: transparent;
	position: relative;
	border-width: 0px 0px 1px;
}

#u3978-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 16px;
	text-align: left;
	color: #F3F3F2;
	position: relative;
}

#u3975:hover #u3978-4 p
{
	color: #2584E2;
	visibility: inherit;
	font-weight: normal;
}

#u3975.MuseMenuActive #u3978-4 p
{
	color: #2584E2;
	visibility: inherit;
	text-align: left;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: normal;
}

#u3979
{
	border-width: 1px;
	border-style: solid;
	position: relative;
}

#u3979:hover
{
	background-color: #D3D3D3;
}

#u3979.MuseLinkActive
{
	background-color: #D3D3D3;
}

.Button
{
	border-width: 1px;
	border-style: solid;
	border-color: #C3C3C3;
	background-color: #EEEEEC;
	border-radius: 5px;
}

.MenuItem,.AccordionPanelTab /* unifiedNavBar */
{
	cursor: pointer;
}

.Footer
{
	border-style: none;
	border-color: #000000;
	background-color: #012A3C;
}

#u3914-7
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: right;
	font-family: lusitana, serif;
	font-weight: 700;
	position: relative;
}

#u3914-5
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u3914-5  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

#u3914-4
{
	font-size: 16px;
}

#u3913
{
	border-color: #000000;
	position: relative;
	background: transparent url("../../images/footer-spacer.gif") repeat-y center top;
}

#menuu3940,#menuu3871
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u3897
{
	position: relative;
	background: transparent url("../../images/email.png") no-repeat left top;
}

#u3897:hover
{
	background-repeat: no-repeat;
	background-position: left bottom;
}

#u3897:active
{
	background-repeat: no-repeat;
	background-position: left bottom;
}

#u3900-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #C3C3C3;
	font-size: 12px;
	text-align: left;
	text-indent: 24px;
	position: relative;
}

#u3897:hover #u3900-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u3897:active #u3900-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	text-align: left;
}

#u3904
{
	position: relative;
	background: transparent url("../../images/twitter.png") no-repeat left top;
}

#u3904:hover
{
	background-repeat: no-repeat;
	background-position: left bottom;
}

#u3904:active
{
	background-repeat: no-repeat;
	background-position: left bottom;
}

#u3905-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #C3C3C3;
	font-size: 12px;
	text-align: left;
	text-indent: 24px;
	position: relative;
}

#u3897.MuseMenuActive #u3900-4 p,#u3904:hover #u3905-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u3904:active #u3905-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	text-align: left;
}

#u3860,#u3864,#u3937,#u3972,#u3980-4,#u3870-4,#u3896,#u3903,#u3872
{
	background-color: transparent;
	position: relative;
}

#u3873
{
	position: relative;
	background: transparent url("../../images/facebook.png") no-repeat left top;
}

#u3873:hover
{
	background-repeat: no-repeat;
	background-position: left bottom;
}

#u3873:active
{
	background-repeat: no-repeat;
	background-position: left bottom;
}

#u3897.MuseMenuActive,#u3904.MuseMenuActive,#u3873.MuseMenuActive
{
	background-repeat: no-repeat;
	background-position: left top;
}

#u3874-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #C3C3C3;
	font-size: 12px;
	text-align: left;
	text-indent: 24px;
	position: relative;
}

#u3975.MuseMenuActive #u3978-4,#u3897.MuseMenuActive #u3900-4,#u3904.MuseMenuActive #u3905-4,#u3873.MuseMenuActive #u3874-4
{
	border-style: none;
	border-color: transparent;
}

#u3904.MuseMenuActive #u3905-4 p,#u3873:hover #u3874-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u3873:active #u3874-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	text-align: left;
}

#u3873.MuseMenuActive #u3874-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u3869
{
	border-color: #000000;
	background-color: #001822;
}

#u3912-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
}

