div.mf-ok-text {
	color: #fff;
	font-weight: bold;
	padding-bottom: 1em;
	background: #13813e;
	padding: 3% 1%;
	text-align: center;
	border-radius: 6px;
	border: 2px dashed #f3f2c4;
	margin-bottom: 25px;
}


.red{color:red;}
.green{color:green;}

@font-face {
font-family: 'HelveticaNeueCyr-Light';
font-style: normal;
font-weight: normal;
src: local('HelveticaNeueCyr-Light'), url('fonts/HelveticaNeueCyr-Light.woff') format('woff');
}

@font-face {
font-family: 'HelveticaNeueCyr-Roman';
font-style: normal;
font-weight: normal;
src: local('HelveticaNeueCyr-Roman'), url('fonts/HelveticaNeueCyr-Roman.woff') format('woff');
}

@font-face {
font-family: 'HelveticaNeueCyr-UltraLight';
font-style: normal;
font-weight: normal;
src: local('HelveticaNeueCyr-UltraLight'), url('fonts/HelveticaNeueCyr-UltraLight.woff') format('woff');
}